* {
    /* border: 1px dashed blue; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: rgb(240, 247, 250);
    font-family: "@Microsoft YaHei Light";
}

nav {
    background: #121212;
    overflow: hidden;
    z-index: 1;
}

nav a {
    float: left;
    text-decoration: none;
    color: white;
    font-size: large;
    text-align: center;
    padding: 10px 20px;
}
nav a:hover {
    background: #333;
}
.dropdown {
    /* border: 1px dashed red; */
    float: left;
    /* overflow: hidden; */
}
.drop-link {
    overflow: hidden;
    /* border: 1px dashed yellow; */
}  
.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 10px #f0f0f0;
    border-radius: 10px;
    min-width: 160px;
    opacity: 1;
}
.dropdown-content a {
    display: block;
    float: none;
    color: black;
    text-align: left;
}