* {
    /* border: 1px dashed blue; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: rgb(240, 247, 250);
    font-family: "@Microsoft YaHei Light";
}

nav a {
    text-decoration: none;
}

ul {
    /* border: 1px dashed blue; */
    list-style: none;
    
}

li {
    position: relative;
    display: block;
    float: left;
    padding: 1rem;
    background: lightslategray;
    transition: all 1s ease;
}

li a {
    color: white;
    
}

li:hover,
li:focus-within {
  background: rgb(74, 84, 94);
  cursor: pointer;
}

ul li ul {
    display: none;
    position: absolute;
    left: 0;
    min-width: 8rem;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
    background: #fafafa;
    box-shadow: 1px 1px 5px hsl(0, 0%, 90%);
    
}
ul li ul li {
    color: black;
}

ul li:hover > ul,
ul li:focus-within > ul {
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}