* {
  /* border: 1px dashed blue; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 247, 250);
  font-family: "@Microsoft YaHei Light";
}
.top-nav {
  /* border: 2px dashed blue; */
  overflow: hidden;
  background: lightslategray;
}
.top-nav a {
  /* border: 1px dashed white; */
  float: left;
  display: block;
  padding: 14px 16px;
  color: #fafafa;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  font-size: 17px;
}

.active {
  background-color: #04aa6d;
  color: white;
}

.top-nav .icon {
  display: none;
}

.dropdown {
  border: 1px dashed darkorchid;
  float: left;
  overflow: hidden;
}

.dropdown .drop-btn {
  padding: 14px 16px;
  border: none;
  outline: none;
  background-color: inherit;
  color: #fafafa;
  font-family: inherit;
  font-size: 17px;
  margin: 0;
  border: none;
  transition: inherit;
}
.drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drop-content a {
  float: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.top-nav a:hover,
.dropdown:hover .drop-btn {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .drop-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .top-nav a:not(:first-child),
  .dropdown .drop-btn {
    display: none;
  }
  .top-nav a.icon {
    float: right;
    display: block;
  }
}
/* responsive */
@media screen and (max-width: 600px) {
  .top-nav.responsive {
    position: relative;
  }
  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .top-nav.responsive .dropdown {
    float: none;
  }
  .top-nav.responsive .drop-content {
    position: relative;
  }
  .top-nav.responsive .dropdown .drop-btn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
